.container{
    margin-bottom: 100px;
}
.carousel-bg{
    background-color:#FCE6E8 ;
    border-radius: 10px;
}
.carousel-item-p{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-btn{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}